{% extends "layout.html" %}
{% block content %}
<form action"/" method ="POST" >
<div class="card-columns">
  <div class="card" style="background-color: lightblue;">
    <div class="card-body">
      <h5 class="card-title">Allergies</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="NoseCongestion" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Nose congestion</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Sneezing" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Sneezing</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="EyesItchy" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Itching eyes</label>
      </div>
    </div>
  </div>
  <div class="card" style="background-color: #6ebbd3">
    <div class="card-body">
      <h5 class="card-title">Stomach Pain</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="AbdCramps" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Abdominal cramps</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="EatingPain" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Eating Pain</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Constipation" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Constipation</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="LowbackPain" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Low back pain</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Nausea" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Nausea</label>
      </div>
      <!-- The Button to submit -->
      <!--<p> <a href="#" class="btn btn-primary">Submit</a> </p>-->
    </div>
  </div>
  <div class="card" style="background-color: #ace5ee">
    <div class="card-body">
      <h5 class="card-title">Cold/Flu</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="GeneralizedFatigue" id="flexCheckDefault" name="mycheckbox" />
        <label class="form-check-label" for="flexCheckDefault">Fatigue</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Chills" id="flexCheckDefault" name="mycheckbox" />
        <label class="form-check-label" for="flexCheckDefault">Chills</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="HeadacheFrontal" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Headache</label>
      </div>
      <!-- The Button to submit -->
      <!--<p> <a href="#" class="btn btn-primary">Submit</a> </p>-->
    </div>
  </div>
  <div class="card" style="background-color: #d6ebf2">
    <div class="card-body">
      <h5 class="card-title">Stress/Mental Health</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="ChestPainAnginaYesNo" id="flexCheckDefault" name="mycheckbox" />
        <label class="form-check-label" for="flexCheckDefault">Chest Pain</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="DecreasedMood" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Decreased Mood</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="WeightLoss" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Weight loss</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Weight gain" id="flexCheckDefault" name="mycheckbox" />
        <label class="form-check-label" for="flexCheckDefault">Weight gain</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="ResistantHypertension" id="flexCheckDefault" name="mycheckbox" />
        <label class="form-check-label" for="flexCheckDefault">Hypertension</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="HypoTension" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Hypotension</label>
      </div>
      <!-- The Button to submit -->
      <!--p> <a href="#" class="btn btn-primary">Submit</a> </p>-->
    </div>
  </div>
  <div class="card" style="background-color: #aadff1">
    <div class="card-body">
      <h5 class="card-title">Other</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Conjunctivas" id="flexCheckDefault" name="mycheckbox" />
        <label class="form-check-label" for="flexCheckDefault">Conjunctivas</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Nocturia" id="flexCheckDefault" name="mycheckbox" />
        <label class="form-check-label" for="flexCheckDefault">Nocturia</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="LossOfSmell" id="flexCheckDefault" name="mycheckbox" />
        <label class="form-check-label" for="flexCheckDefault">Loss of smell</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="LossOfTaste" id="flexCheckDefault" name="mycheckbox" />
        <label class="form-check-label" for="flexCheckDefault">Loss of taste</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="LossOfConsciousness" id="flexCheckDefault" name="mycheckbox" />
        <label class="form-check-label" for="flexCheckDefault">Loss of consciousness</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Seizure" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Seizure</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Snoring" id="flexCheckDefault"  name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Snoring</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="SwallowPain" id="flexCheckDefault" name="mycheckbox"/>
        <label class="form-check-label" for="flexCheckDefault">Pain when swallowing</label>
      </div>
      <!-- The Button to submit -->

      <!--<p><a href="#" class="btn btn-primary">Submit</a> </p>-->
    </div>
  </div>
</div>
    <p>
      <input type = "submit" class="btn btn-primary">
    </p>

{% endblock content %}