<link rel="shortcut icon " type="text/css" href="">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <style>
 
.navbar
{
	padding:19px 0px;
	border-bottom: none !important;
	transition: all 0.5s ease-in-out;
	background-color:#00008B !important;
}

.navbar ul li a
{
	color:white !important;
	text-transform: uppercase; 
	font-weight: 600;
	letter-spacing: 1px; 
    font-size: 14px;
	transition: all 0.5s ease-in;
	

}

.navbar ul li a:hover 
{
	color: white !important;
	background: none !important; 
}

.navbar-toggle
{
	border: 1px solid white !important;

	transition: all 0.5s ease-in; 
}

.navbar-toggle:hover
{
	background-color:  white !important;
}

.navbar-inverse .navbar-collapse
{
	border-color: transparent !important;
}

.location
{
	border: 1px solid white;
	border-radius: 50px;
}
/*-----------footer---------------*/

.page-footer
{
	background-color:#00008B ;
		
}
.page-footer p
{
	color:white;
}

.page-footer a
{
	color: white;
}

.page-footer a:hover
{
	text-decoration: none;
	cursor:pointer; 
	color:#00008B;
	
}

.page-footer navbar-brand
{
	padding-top: 20px;
}

.page-footer ul li
{
	border: 1px solid  white;
    padding: 0px;
    color: white;
    width: 30px;
    height: 30px;
	border-radius: 30px;
    margin-right: 10px;
    line-height: 30px;
	transition: all 0.5s ease-in;   
}


.slider-content
{
    margin-top: 120px;
   text-align: left;
   padding-left: 120px;
   padding-right: 120PX;
}
.slider-content p
{
padding-bottom: 10px;

}

div.b
{
    line-height: 1.5;
}

    </style>

</head>
<body>
	
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>


<script src="js/jquery.ripples-min.js" type="text/javascript"></script>	
<script src="js/main.js" type="text/javascript"></script>
<script src="js/typed.min.js" type="text/javascript"></script>



<!-----------navigation starts------->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<!-------responsive button---->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navi">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="" class="navbar-brand"><img src="../home.png."></a>
		</div>
		<div class="collapse navbar-collapse" id="navi">
			<!-------navigation menus---->
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{ url_for('login') }}">Login/Register</a></li>
			<li><a href=""Login</a></li>
      <li><a href="{{ url_for('dashboard') }}">Symptoms</a></li>
      <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
			
			
		</ul>
		<!-------navigation menu end---->
		</div>
	</div>
</nav>
<!-----------navigation end------->

<!-----------slider section start------->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="style.css">
	<title>Responsive Login And Register Form</title>
</head>


<div class="card-columns">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Allergies</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Nose congestion</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Sneezing</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Itching eyes</label>
      </div>
      <!-- The Button to submit -->
      <p> <a href="#" class="btn btn-primary">Submit</a> </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Stomach Pain</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Abdominal cramps</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Eating Pain</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Constipation</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Low back pain</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Nausea</label>
      </div>
      <!-- The Button to submit -->
      <p> <a href="#" class="btn btn-primary">Submit</a> </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cold/Flu</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Fatigue</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Chills</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Headache</label>
      </div>
      <!-- The Button to submit -->
      <p> <a href="#" class="btn btn-primary">Submit</a> </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Stress/Mental Health</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Chest Pain</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Decreased Mood</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Weight loss</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Weight gain</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Hypertension</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Hypotension</label>
      </div>
      <!-- The Button to submit -->
      <p> <a href="#" class="btn btn-primary">Submit</a> </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Other</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Conjunctivas</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Nocturia</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Loss of smell</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Loss of taste</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Loss of consciousness</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Seizure</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Snoring</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">Pain when swallowing</label>
      </div>
      <!-- The Button to submit -->
      <p> <a href="#" class="btn btn-primary">Submit</a> </p>
    </div>
  </div>

  