{% extends "layout.html" %}
{% block content %}
<form method="POST">
    <fieldset class="form-group">
        {{ form.hidden_tag() }}

    </fieldset>
    <div id = "result_container">
        {% for meal in meals %}
            <table> 
                <tr>
                <td><h3>{{ meal['title'] }} </h3></td> <td><a href="{{meal['sourceUrl']}}" target = "_blank">{{meal['sourceUrl']}}</a></td>
                </tr>
            </table>
        {% endfor %}

        <div class="card1">
        <div class="container">
        <h3>Meal Plan Summary:</h3>
        <p>Calories : {{ nutrients["calories"] }}</p>
        <p>Carbohydrates : {{ nutrients["carbohydrates"] }}</p>
        <p>Fat : {{ nutrients["fat"] }}</p>
        <p>Protein : {{ nutrients["protein"] }}</p>
        </div>
        </div>
    </div>

    <input type="submit" name="submit_button" value="Generate Random" class="btn btn-primary btn-forms">
    <input type="submit" name="submit_button" value="Save" class="btn btn-primary btn-forms">

</form>
{% endblock content %}