{% extends "layout.html" %}
{% block content %}
<!--
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_style.css') }}">
</head>
-->
<h3 class="text-center mt-5"><strong>Login to your account</strong></h2>
    <div class="login-page">
        <div class="form">
          <form class="login-form" method="POST">

            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class="form-control-label" ) }}

                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                <i class="fas fa-lock"></i>
                {% if form.password.errors %}
                  {{ form.password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.password.errors%}
                      <span>{{error}}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
                </div>

            <button>login</button>
          </form>
        </div>
      </div>
    

  {% with messages = get_flashed_messages()%}
    {% if messages%}
      <p style="text-align:center;"">{{ messages[-1] }} </p>
    {% endif %}
  {% endwith %}
{% endblock %}