{% extends "layout.html" %}
{% block content %}
<div>
<h1><b>{{username}} - Log of Symptoms</b></h1>

{% for symptom in symptoms %}
<div class="card">
<h4>{{ symptom.date }}</h4>
<div class="card-body">
<h5>{{ symptom.symptom }}</h5>
</div>
</div>
</div>
{% endfor %}
<div>
<h1><b>Favorite Foods</b></h1>

{% for meal in meals %}
<div class="card">
<h4>{{ meal.title }}</h4>
<div class="card-body">
<a href="{{meal.recipe}}" target = "_blank">{{ meal.recipe }}</a>
</div>
</div>
</div>
{% endfor %}

{% endblock content %}