{% extends "layout.html" %}
{% block content %}
<!AbdCramps":"Abdominal cramps","Chills": "Chills","ChestPainAnginaYesNo":"Chest Pain", "Conjunctivas":"Conjunctivas">
<div>
    <form action"/" method ="POST" >
    Abdominal cramps <input type="checkbox" value="AbdCramps" name="mycheckbox">
    Chills           <input type="checkbox" value="Chills" name="mycheckbox">
    Chest Pain       <input type="checkbox" value="ChestPainAnginaYesNo" name="mycheckbox">
    Conjunctivas      <input type="checkbox" value="Conjunctivas" name="mycheckbox">
    <input type = "submit">
{% endblock %}